<a href="https://colab.research.google.com/github/NabidAlam/100-days-of-machine-learning/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [2]:
[1,2,3,3,3,3,4,5] in (1, 2, 3, 4, 5)

False

In [7]:
def uniquelist(list1):
  return list(set(list1))

res = uniquelist([1,2,3,3,3,3,4,5])
res

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [18]:
# Write code here

def check_hyphen(texts):
  removehyph = texts.split('-')
  removehyph = sorted(removehyph)
  finaltext = '-'.join(removehyph)
  return finaltext


res = check_hyphen('green-red-yellow-black-white')
res

'black-green-red-white-yellow'

In [31]:
# Define the input string
input_str = 'green-red-yellow-black-white'

# Split the input string into a list of words, sort them alphabetically, and join them with hyphens
output_str = '-'.join(sorted(input_str.split('-')))

# Print the output string
print(output_str)

black-green-red-white-yellow

In [30]:
test = (lambda x: '-'.join(sorted(x.split('-')))) ('green-red-yellow-black-white')
test

'black-green-red-white-yellow'


### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here

In [47]:
samplestr ='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
upperlist = []
lowerlist = []
countu = 0
countl = 0

for i in samplestr:
  #print(i)
  if i == i.upper() and i != ' ' and i!='.':
    upperlist.append(i)
    countu+=1

  elif i == i.lower() and i != ' ' and i!='.':
    lowerlist.append(i)
    countl+=1

print(upperlist)
print(lowerlist)
print(countu)
print(countl)

['C', 'X', 'O', 'M', 'P', 'O', 'E', 'E', 'S']
['a', 'm', 'p', 'u', 's', 'i', 's', 'a', 'n', 'n', 'l', 'i', 'n', 'e', 'e', 'n', 't', 'o', 'r', 's', 'h', 'i', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'f', 'r', 'n', 'g', 'i', 'n', 'e', 'r', 'i', 'n', 'g', 's', 't', 'u', 'd', 'e', 'n', 't']
9
47

In [52]:
def count_upper_lower(input_str):
    # Initialize counts for upper and lower case letters
    count_upper = 0
    count_lower = 0

    # Iterate through each character in the input string
    for char in input_str:
        #print(char in input_str)
        # Check if the character is an uppercase letter
        if char.isupper():
            count_upper += 1
        # Check if the character is a lowercase letter
        elif char.islower():
            count_lower += 1

    # else:
    #   print('give correct input')

    # Print the counts of upper and lower case letters
    print("No. of Upper case characters:", count_upper)
    print("No. of Lower case characters:", count_lower)

# Test the function with the sample string
sample_str = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
count_upper_lower(sample_str)

No. of Upper case characters: 9
No. of Lower case characters: 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here

In [54]:
evenlist = [i for i in [1, 2, 3, 4, 5, 6, 7, 8, 9] if i%2==0]
evenlist

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [59]:
# Write code here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [65]:
def concatedic(*args):
  concatdictionary = {}
  for d in args:
    concatdictionary.update(d)

  return concatdictionary

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}


result = concatedic(dic1,dic2,dic3)
result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [87]:
def most_c_word(text):
  words = text.split()
  # print(words)
  word_count = {}
  for word in words:
    # print(word)
    if word in word_count:
      word_count[word] +=1

    else:
      word_count[word] = 1


  return result_words, result_counts



# Input string
text = 'hello how are you i am fine thank you you'

# Find the word with the most occurrences
result_words, result_counts = most_c_word(text)
print(f'{result_words} -> {result_counts}')

you -> 2

In [92]:
def most_common_word(text):
    words = text.split()  # Split the input string into words
    word_count = {}  # Dictionary to store word counts

    # Count occurrences of each word
    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

    # Find the word with the maximum count
    max_word = max(word_count, key=word_count.get)
    print(max_word)
    max_count = word_count[max_word]

    return max_word, max_count

# Input string
text = 'hello how are you i am fine thank you you YOU                  you '

# Find the word with the most occurrences
result_word, result_count = most_common_word(text)
print(f'{result_word} -> {result_count}')

you
you -> 4

In [88]:
word_count = {'apple': 5, 'banana': 3, 'orange': 2}

# Get the count of 'apple' using the get method
count_of_apple = word_count.get('apple')
print(count_of_apple)  # Output: 5

5

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [107]:
def histogram(nums):
    hist = {}

    # Iterate over the input list
    for num in nums:
        # Calculate the bin for the current number
        bin_start = (num // 10) * 10 + 1
        bin_end = bin_start + 9
        bin_label = f'{bin_start}-{bin_end}'

        # Update the histogram dictionary
        hist[bin_label] = hist.get(bin_label, 0) + 1

    return hist

# Test the function
input_nums = [13, 42, 15, 37, 22, 39, 41, 50]
output_hist = histogram(input_nums)
print(output_hist)

{'11-20': 2, '41-50': 2, '31-40': 2, '21-30': 1, '51-60': 1}

In [105]:
def histo(input_list):
    histogram = {}

    # Iterate over the input list
    for num in input_list:
        # Calculate the bin for the current number
        bin_start = (num // 10) * 10
        bin_end = bin_start + 9

        # Update the histogram dictionary
        bin_label = f'{bin_start + 1}-{bin_end}'
        histogram[bin_label] = histogram.get(bin_label, 0) + 1

    # Print the histogram
    print(histogram)

histo([13, 42, 15, 37, 22, 39, 41, 50])

{'11-19': 2, '41-49': 2, '31-39': 2, '21-29': 1, '51-59': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [112]:
# Write code here
# Given lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]


result = list(map(lambda x,y,z: x+y+z, list1,list2,list3))
# Print the result
print(result)

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [125]:
# Write code here
list1 = [1, 2, 3, 4, 5, 6]

print(range(len(list1)))

powercalc = lambda x, idx: x**idx

res = list(map(powercalc, list1, range(len(list1))))
res[-1] = '-'

print(res)

range(0, 6)
[1, 2, 9, 64, 625, '-']

In [127]:
# Write code here
list1 = [1, 2, 3, 4, 5, 6]

# print(range(len(list1)))

res = list(map(lambda x, idx: x**idx, list1, range(len(list1))))
res[-1] = '-'

print(res)

[1, 2, 9, 64, 625, '-']

In [113]:
# Write code here
list1 = [1, 2, 3, 4, 5, 6]

# Define a lambda function to compute the power of each number raised to its index
power_calculation = lambda x, idx: x ** idx

# Use map to apply the lambda function to each element of list1 along with its index
result = list(map(power_calculation, list1, range(len(list1))))

# Replace the last element with a dash (-)
result[-1] = '-'

print(result)

[1, 2, 9, 64, 625, '-']

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [131]:
# Write code here



def filter_vowels(input_text):
  vowels = ['a', 'e', 'i', 'o', 'u']
  filtered_vowels = list(filter(lambda x: x.lower() in vowels, input_text))
  return filtered_vowels


# Example usage
input_string = "Hello WorldWorldWorldWorldWorldWorldWorld"
filtered_vowels = filter_vowels(input_string)
print(filtered_vowels)

['e', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o']

In [128]:
def filter_vowels(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    filtered_vowels = list(filter(lambda x: x.lower() in vowels, string))
    return filtered_vowels

# Example usage
input_string = "Hello World"
filtered_vowels = filter_vowels(input_string)
print(filtered_vowels)

['e', 'o', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

In [134]:
from functools import reduce
two_d_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

one_d = reduce(lambda x,y: x+y, two_d_list)
print(one_d)

[1, 2, 3, 4, 5, 6, 7, 8]

In [135]:
two_d_list = [1, 2, 3, 4, 5, 6, 7, 8]

one_d = reduce(lambda x,y: x+y, two_d_list)
print(one_d)

36

In [142]:
[1,2,3] + [4,5]
[1, 2, 3, 4, 5] + [6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 1 2
# 3 3
# 6 4
# 10 5
# 15 6
# 21 7
# 28 8
# 36

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [144]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [145]:
list(map(lambda x: x['fname'] + ' ' + x['lname'], list(filter(lambda x: True if x['grade'] == 'highly-skilled' else False, employees))))

['Neha Singh', 'Abhinav Sharma']